
.oui
{ 
	color: red ;
	font-size: 20pxs ;

}

.non
{
color: blue;
font-size: 20px


}
.hello

{
color: black ;
font-size: 70px ;


}








.bonyour
{
	color: aqua ;
	font-size: 30px;
	text-align: center;
}

table: